body {
    font-family: Arial, sans-serif;
    background-color: #757474fa;
    color: #000000;
    margin: 20px;
}

p {
    padding: 10px;
    background-color: #7cb688;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

b {
    color: #000;
}
l {
    color: #001aff
}
